img {
    width: 200px;
}

#mario {
    position: absolute
}

#goomba {
    position: absolute;
    top: 400px;
    left: 10px
}

#fala {
    position: absolute;
    top: 300px;
    left: 240px;
}

#bowser {
    position: absolute;
    left: 450px;
    top: 300px;
    width: 300px;
    
}

p {
    position: absolute;
    left: 255px;
    top: 330px;
    z-index: 1;
}