div:hover {
    border-left: solid;
}

div:nth-child(3) {
    color: red;
}

div:nth-child(4) {
    color:purple
}

div:nth-child(5) {
    color:royalblue
}

div:nth-child(6) {
    color: rgb(58, 57, 57);
}

div:nth-child(7) {
    color: rgb(194, 194, 194);
}


