div:hover {
    border-left: solid;
}

div:nth-child(3) {
    color: red;
}

div:nth-child(4) {
    color:purple
}

div:nth-child(5) {
    color:royalblue;
    font-size: 20px;    
}

div:nth-child(6) {
    color: rgb(58, 57, 57);
}

div:nth-child(7) {
    color: rgb(194, 194, 194);
}

div:nth-child(3) h3 {
    background-color:blue;
    font-style: italic;
    
}

div:nth-child(4) h3 {
    background-color: orange;
}

div:nth-child(5) h3 {
    background-color: palegreen;
    font-style: italic;
}

div:nth-child(6) h3 {
    background-color: rgb(236, 83, 83);
}

div:nth-child(7) h3 {
    background-color: teal;
    font-style: italic;letter-spacing: normal
}
